html{
    background-color: #00ABB3;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #EAEAEA;
    background-color:#00ABB3;
    height: 100%;
}

section {
    padding: 2.5% 5%;
}

.navbar{
    background-color: #00ABB3;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 90%;
}

.navbar-brand, .nav-txt{
    color: #EAEAEA;
}

.navbar-toggler{
    display: block;
    margin: 0;
    margin-left: auto;
}

.navbar-brand{
    font-weight: 600;
}

.nav-txt{
    font-weight: 400;
}

.center-align{
    align-content: right;
}

.card{
    color:#00ABB3;
    margin:2.5%
}

.fit-image{
    height:100%;
}

.btn-theme{
    background-color: #00ABB3;
    color: #EAEAEA;
    align-tracks: center;
}

.btn-centerd{
    align-tracks: center
}

.carousel-item{
    align-tracks: center;
}

.carousel-item img{
    display: block;
    height: 7rem;
    max-width: fit-content;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.centerd{
    text-align: center;
}

.over{
    position: absolute;
    z-index: 2;
    background-color: #00ABB3;
    width: 100%;
    height: 100%;
    color: white
}

td{
    border-width: 2px;
    border-color: #3C4048;
}

#order-table{
    width: 100%;
    text-align: center;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #00ABB3;
    color: #3C4048;
    padding: 1%
}

/* TABLE */

table{
    background-color: white;
}

.partner-button{
    margin: 2%;
}